body {
	position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 430px) {
	body {
		background-image: url("/images/Peace_Corps_UGWork_Flickr.jpg");
	}
}

.panel-transparent {
        background: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.9)!important;
    color: white;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.4)!important;
    color: white;
}

.col-transparent {
    background: rgba(46, 51, 56, 0.1)!important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.textOn {
  color: red;
  font-weight:bold; 
}

.textOff {
  color: gray;
  font-weight:bold; 
}

.pull-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  /* content: '%'; */
  margin-left: 0.1em;
  font-size: .8em;
}

.percent,
.label {
    text-align: center;
    color: white; /*#333;*/
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.pad-adjust { 
  padding-top:10px; 
}

.weather-col {
  margin: 9px; 
  text-align: center; 
  border: 1px solid lightgray; 
  border-radius: 5px;
}

.weather-col:hover {
    color: yellow;
}
